/* Colors and fonts */
body {

#logo { /Lizzie.jpg/
  width: 40px;
}
<img src="Lizzie.jpg" class="img-circle">
.img-circle {
  border-radius: 50%;
  #leader {
  box-shadow: 0px 10px 10px rgba(0,0,0,0.9);
}

background: rgb (230, 230, 230) 
color:
rgb (50, 50, 50);
font-family: Helvetica, sans-serif;
font-size: 17px;
}
h1, h2, h3 {

font-family: Courier; 
color:red;
font-size: 32px;
]
h2 {
color:
rgb (100, 100, 100) ;
font-family: Courier; font-size: 24px;
font-weight: lighter:

a {
  color: yellow;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: yellow;
  text-decoration: none;
}

background: white;                         /* White background */
padding: 30px;                             /* Internal space */
border-radius: 4px;                        /* Small radius */
box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
width: 300px;     
margin: 0px auto; /* Let CSS compute the same left & right margins automatically*/

/*custom design with class*/
.container {
width: 700px;
margin: 40px auto;
}

@media (max width: 760px) {
  .container {
    width: 600px;
    }
}

.card-white {
background-color: white;
padding: 40px;
box-shadow:0px 10px 30px rgba(0,0,0,0.1);
border-radius: 4px;
margin: 20px 0px;
text-align: center;
}
.img-circle {
border-radius:50%;
}
.btn-blue {
  background-color:#6B72E1;
  color: white
  padding: 15px 20px;
  border-radius: 4px;
  }
  {
  .btn-blue:hover {
    background-color: black;
    color: white;
   }
   
   .list-inline {
    list-style: none;
    padding-left: 0px;

    .list-inline li {
    display: inline;
    padding: 10px;
    }
    .list-inline i {
      font size: 50px;
      color: rgb(230,230,230);
    }

    .list-inline i {
      font size: 50px;
      color: rgb(230,230,230);
    }
    .list-inline i:hover; {
      color: black;
      }



    #introduction p {
      margin-bottom: 40px;
      }